@model HRMS_Silicon.ViewModel.DepartmentIndexVM

<style>
    .status {
        padding: 5px;
        border: 0px solid;
        border-radius: 5px;
        cursor: pointer;
        color: white !important;
        outline: none
    }

        .status:active {
            box-shadow: 0.1px 0.1px 5px 0.1px inset white;
            marker: none
        }

    .Notice-Active {
        background-color: #22bb33;
    }

    .Notice-Deactive {
        background-color: #f7284a;
    }
</style>

@{
    ViewData["Title"] = "Index";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet" />
<body>
    <div class="row" id="create-form">
        <div class="col-md-6 col-lg-12">
            <div class="card">
                <div class="Alert"></div>
                <div class="card-header border-bottom-0">
                    <h4 class="card-title">Add Department</h4>
                </div>
                <div class="card-body">
                    <form id="formIdCreateDepartment"  class="form-horizontal" asp-action="Create" asp-route-returnUrl="" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group row">
                            <label for="inputName" class="col-md-3 form-label">Department Name</label>
                            <div class="col-md-9">

                                @*<input type="text" asp-for="department_name" class="form-control" id="inputName" placeholder="Name">
                                <span asp-validation-for="department_name" class="text-danger"></span>*@


                                <input asp-for="DepartmentViewModel.Department_name"  data-val="true"  class="form-control" id="inputName" placeholder="Name">
                                <span asp-validation-for="DepartmentViewModel.Department_name" class="text-danger"></span>


                            </div>

                            @*<div class="form-group form-check">
                            <label class="form-check-label">
                            <input class="form-check-input" asp-for="DepartmentViewModel.is_active" /> @Html.DisplayNameFor(model => model.DepartmentViewModel.is_active)
                            </label>
                            </div>*@


                        </div>


                        <div class="form-group mb-0 mt-4 row justify-content-end">
                            <div class="col-md-9 submit-btn-class">
                                @*<input type="submit" name="message_to" id="submit-button" />*@
                                <button id="submitButtonDepartment"  class="btn abc btn-primary" type="button">Save</button>
                                <button class="btn btn-secondary" type="reset">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>


    <div class="row" id="list-of-department">
        <div class="col-md-6 col-lg-12">
            <div class="card">
                <div class="card-header  border-0">
                    <h4 class="card-title">Department Lists</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="hr-holiday_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">


                            <div class="col-sm-12">
                                <table class="table table-vcenter text-nowrap table-bordered border-bottom dataTable no-footer" id="hr-holiday" role="grid" aria-describedby="hr-holiday_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="border-bottom-0 w-5 sorting" tabindex="0" aria-controls="hr-holiday" rowspan="1" colspan="1" aria-label="No: activate to sort column ascending" style="width: 24px;">SN.</th>
                                            <th class="border-bottom-0 w-5 sorting" tabindex="0" aria-controls="hr-holiday" rowspan="1" colspan="1" aria-label="Day: activate to sort column ascending" style="width: 73.6875px;">Department</th>
                                            <th class="border-bottom-0 w-5 sorting" tabindex="0" aria-controls="hr-holiday" rowspan="1" colspan="1" aria-label="Day: activate to sort column ascending" style="width: 73.6875px;">Status</th>

                                            @*<th class="border-bottom-0 w-5 sorting" tabindex="0" aria-controls="hr-holiday" rowspan="1" colspan="1" aria-label="No: activate to sort column ascending" style="width: 24px;">Is_Active</th>*@


                                            <th class="border-bottom-0 sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 70.7344px;">Actions</th>
                                        </tr>
                                    </thead>

                                    <tbody>


                                        @{
                                            int i = 1;
                                        }
                                        @foreach (var item in Model.DepartmentPagedList)
                                        {
                                            if (item.Department_id != 0)
                                            {

                                                <tr role="row" class="odd" data-id="@item.Department_id">
                                                    <td>@(i++)</td>

                                                    <td>

                                                        @Html.DisplayFor(modelItem => item.Department_name)

                                                    </td>

                                                    @if (User.IsInRole("Admin"))
                                                    {
                                                        <td>
                                                            <a class="status toogle-status @(item.Is_Active?"Notice-Active":"Notice-Deactive")" data-id="@item.Department_id">
                                                                @(item.Is_Active ? "Active" : "InActive")
                                                            </a>
                                                        </td>
                                                      
                                                    }

                                                  @*  <td class="statuss-btnss">
                                                        @if (item.Is_Active == false)
                                                        {*@

                                                            @*<label class="badge badge-light">Enabled</label>*@
                                                            @*<a class="badge badge-danger btn-stss btn-inactivate text-white">Disabled</a>*@


                                                       @* }
                                                        else if (item.Is_Active == true)
                                                        {*@
                                                            @*<label class="badge badge-danger">Disabled</label>*@
                                                            @*<a class="badge badge-success btn-stss btn-activate text-white">Enabled</a>*@

                                              @*          }*@

                                              @*      </td>*@

                                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.is_active)
                                            </td>*@

                                                    <td >
                                                   
                                                        <a class="btn btn-primary btn-icon btn-sm btnUpdate" data-ajax="true" asp-route-id="@item.Department_id" data-id="@item.Department_id" data-toggle="modal" data-target=".department-modal">
                                                            Edit  <i class="feather feather-edit" data-toggle="tooltip" data-original-title="Edit"></i>
                                                        </a>

                                                        <a class="btn btn-danger btn-icon btn-sm delete-btn" @*asp-action="Delete"*@ data-ajax="true" data-id="@item.Department_id" data-toggle="modal" data-target="#holidaymodal" data-original-title="Delete">Delete <i class="feather feather-trash-2"></i></a>


                                                      @*  @if (item.Is_Active == false)
                                                        {*@
                                                            @*<a class="badge badge-danger" href="/Employee/ChangeEmployeeStatus/@item.Employee_Id">Inactivate</a>*@
                                                            @*<a onclick="ChangeStatuss(this)" class="badge badge-success btn-stss btn-activate text-white" id="@item.Department_id">Activate</a>*@
                                                      @*  }
                                                        else if (item.Is_Active == true)
                                                        {*@

                                                            @*<a class="badge badge-light" href="/Employee/ChangeEmployeeStatus/@item.Employee_Id">Activate</a>*@
                                                            @*<a onclick="ChangeStatuss(this)" class="badge badge-danger btn-stss btn-inactivate text-white" id="@item.Department_id">Inactivate</a>*@
                                                       @* }*@


                                                    </td>
                                                </tr>


                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="hr-holiday_paginate">


                                    <ul class="pagination">
                                        @if (Model.DepartmentPagedList.PageIndex > 1)
                                        {
                                            <li class="paginate_button page-item previous" id="hr-holiday_previous">
                                                <a asp-action="Index"
                                               asp-route-pageNumber="@(Model.DepartmentPagedList.PageIndex - 1)"
                                               aria-controls="hr-holiday" data-dt-idx="0" tabindex="0" class="page-link">
                                                    Previous
                                                </a>
                                            </li>
                                        }
                                        @if (Model.DepartmentPagedList.PageIndex < Model.DepartmentPagedList.TotalPages)
                                        {
                                            <li class="paginate_button page-item next " id="hr-holiday_next">
                                                <a asp-action="Index"
                                               asp-route-pageNumber="@(Model.DepartmentPagedList.PageIndex + 1)"
                                               aria-controls="hr-holiday" data-dt-idx="3" tabindex="0" class="page-link ">
                                                    Next
                                                </a>
                                            </li>
                                        }
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Employee Modal used for deletion -->
    <div class="modal fade" id="holidaymodal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <h1>Delete</h1>
                        <p>Are you sure you want to delete ?</p>

                    </div>

                </div>
                <div class="modal-footer">

                    <button class="btn btn-primary deletebtn suman delete-item">Delete</button>
                    <button class="btn btn-outline-primary cancelbtn" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Holiday Modal used for edit -->

    <div class="modal fade department-modal" id="department-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="department-content">
            </div>

        </div>
    </div>
  

    <!--  Modal used for Toogle -->
    <div class="modal fade" id="Togglemodal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Toggle Status</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p>Are you sure you want to Toogle ?</p>
                    </div>

                </div>
                <div class="modal-footer">

                    <button class="btn btn-primary Toogle-btn suman" >Toogle</button>
                    <button class="btn btn-outline-primary cancelbtn" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="~/js/site.js"></script>
<script src="~/lib/jquery/jquery.min.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    @*@await Html.PartialAsync("_ValidationScriptsPartial");*@
}

<!-- Employee Modal used for deletion -->
<script>
    $('.toogle-status').on('click', function () {
        document.getElementsByClassName('Toogle-btn')[0].setAttribute("id", this.dataset.id);
        $('#Togglemodal').modal('toggle');
    });
    $(".Toogle-btn").click(function () {
        debugger;
        let id = this.id;
        $.ajax({
            type: "POST",
            url: "/Department/ToogleStatus",
            data: { Department_Id: id },

            success: function (result) {
                debugger
                $('#Togglemodal').modal('toggle');

                if (result == true) {
                    $.toast({
                        heading: 'Success',
                        text: 'Status Changed Success.',
                        icon: 'success',
                        position: 'top-right'
                    })
                    return RedirectToAction("Index");

                    //$.ajax({
                    //    type: "GET",
                    //    dataType: "html",
                    //    url: "Notice/NoticeList",
                    //    success: function (data) {
                    //        debugger
                    //        $('.partial-list').empty();
                    //        $('.partial-list').append(data)
                    //    }
                    //})
                }
                else {
                    $.toast({
                        heading: 'Error',
                        text: 'Status Changed Failed.',
                        icon: 'error',
                        position: 'top-right'

                    })
                }
            },
            error: function (response) {
                debugger
                $.toast({
                    heading: 'Error',
                    text: 'Status Changed Failed.',
                    icon: 'error',
                    position: 'top-right'

                })

            }

        });
    });
    
</script>

<script>

    //jQuery submit form when Enter key is pressed

    $("#formIdCreateDepartment").keypress(function (event) {
        if (event.which == '13' && !event.shiftKey) {
            $("#submitButtonDepartment").click();
            event.preventDefault();
            //return false;
        }
    });


    //For Create
    // function will get executed
    // on click of submit button
    $("#submitButtonDepartment").click(function (ev) {
        debugger
        var form = $("#formIdCreateDepartment").serialize();
        //var url = form.attr('/Designation/Edit');

        var validator = $("#formIdCreateDepartment").validate();
        if (validator.form() == "") {
            //If the "Please Select" option is selected display error.

            $.toast({
                heading: 'Error',
                text: 'Create Failed Please fill out the Required Details',
                icon: 'error',
                position: 'top-right'
            })

            return false;
        }


        $.ajax({
            type: "POST",
            url: "/Department/Create",
            data: form,
            success: function (data) {
                debugger

                if (data == true) {



                    $.toast({
                        heading: 'Success',
                        text: 'Department Create Success',
                        icon: 'success',
                        position: 'top-right'
                    })

                    //reload page after create and Toast message nice na haha
                    $('#inputName').val('');
                    //setTimeout(function () {
                    //    alert('Reloading Page');
                    //    location.reload(true);
                    //}, 3000);

                }

                else {
                    $.toast({
                        heading: 'Error',
                        text: 'Create Failed Please fill out the Required Details',
                        icon: 'error',
                        position: 'top-right'
                    })

                }

            },


            error: function (data) {


                debugger
                $.toast({
                    heading: 'Error',
                    text: 'Department Create Failed',
                    icon: 'error',
                    position: 'top-right'

                })

            }
        });

        //reload page after create and Toast message nice na haha

        //setTimeout(function () {
            
        //    location.reload(true);
        //}, 3000);

    });

    $(document).ready(function () {
        $(".btnUpdate").on('click', function () {
            debugger
            var id = $(this).data("id");
            $.ajax({
                type: "Get",
                url: "/Department/Edit",
                data: { "id": id },
                success: function (response) {
                    debugger
                    $('#department-content').html(response);
                }
            })
        });
     
    })

    $(".deletebtn").click(function () {
        debugger
        let id = this.id;
        $.ajax({
            type: "POST",
            url: "/Department/Delete",
            data: { id: id },

            success: function (result) {
                debugger

                $('#holidaymodal').modal('toggle');

                if (result == true) {
                    $.toast({
                        heading: 'Success',
                        text: 'Department delete Success',
                        icon: 'success',
                        position: 'top-right'
                    })

                    $('tr[data-id="' + id + '"]').remove();
                }
                else {
                    $.toast({
                        heading: 'Error',
                        text: 'Department delete Failed, Department Cannot be Deleted , because it has huge dependency on employeee details ',
                        icon: 'error',
                        position: 'top-right'

                    })
                }
            },
            error: function (response) {
                debugger
                $.toast({
                    heading: 'Error',
                    text: 'Department delete Failed',
                    icon: 'error',
                    position: 'top-right'

                })

            }

        });
    });

            //$(".cancelbtn").click(function () {
            //    $('#myModal').hide();
            //});

    
    
                      

                
    //function clickOnce(){
    //    setTimeout(function () {
    //        debugger
    //        alert("Confirm us to add your Department")
    //    }, 100);
    
    //}

    
  // function clickOnce(e){

  //      let dep_inputFields = e.querySelector("input[name=dep-inputField]");

  //      if(dep_inputFields !=null){
  //          setTimeout(function () {
  //              alert("Confirm us to add your Department")
  //          }, 100);

  //      }
        
  //}

    //function ChangeStatuss(element) {
    //    debugger
    //    let id = element.id;
    //    //let id = element.id;

    //    $.ajax({
    //        type: "POST",
    //        url: "/Department/ChangeDepartmentStatus",
    //        data: { id: id },
    //        async: false,
    //        success: function (result) {
    //            debugger
    //            if (result == true) {
    //                $.toast({
    //                    heading: 'Success',
    //                    text: 'Department Status Changed',
    //                    icon: 'success',
    //                    position: 'top-right'
    //                })

    //                var activeBtns = $("tr[data-id='" + id + "']").children('.actions-btnss').children('.btn-activate').length;
    //                var inactiveBtns = $("tr[data-id='" + id + "']").children('.actions-btnss').children('.btn-inactivate').length

    //                if (activeBtns > 0) {
    //                    $("tr[data-id='" + id + "']").children('.actions-btnss').children('.btn-activate').remove();



    //                    $("tr[data-id='" + id + "']").children('.actions-btnss').append('<a onclick="ChangeStatuss(this)" class="badge badge-danger btn-stss btn-inactivate text-white" id = "' + id + '">Inactivate</a>');

    //                    //below will be done for status

    //                    $("tr[data-id='" + id + "']").children('.statuss-btnss').children('.btn-inactivate').remove();

    //                    $("tr[data-id='" + id + "']").children('.statuss-btnss').html("");

    //                    $("tr[data-id='" + id + "']").children('.statuss-btnss').append('<a class="badge badge-success btn-stss btn-activate text-white">Enabled</a>');



    //                }
    //                else if (inactiveBtns > 0) {
    //                    $("tr[data-id='" + id + "']").children('.actions-btnss').children('.btn-inactivate').remove();



    //                    $("tr[data-id='" + id + "']").children('.actions-btnss').append('<a onclick="ChangeStatuss(this)" class="badge badge-success btn-stss btn-activate text-white" id="' + id + '">Activate</a>');

    //                    //below two line of code  are done for status change
    //                    $("tr[data-id='" + id + "']").children('.statuss-btnss').children('.btn-activate').remove();


    //                    $("tr[data-id='" + id + "']").children('.statuss-btnss').html("");

    //                    $("tr[data-id='" + id + "']").children('.statuss-btnss').append(' <a class="badge badge-danger btn-stss btn-inactivate text-white">Disabled</a>');

    //                }
    //            }
    //            else if (result == false) {

    //                $.toast({
    //                    heading: 'Error',
    //                    text: 'Employee status error',
    //                    icon: 'error',
    //                    position: 'top-right'
    //                })
    //            }
    //        },
    //        error: function (response) {
    //            debugger
    //            $.toast({
    //                heading: 'Error',
    //                text: 'Employee status error',
    //                icon: 'error',
    //                position: 'top-right'
    //            })
    //        }
    //    });
    //}


    

    //var doSth = function () {

    //    var $md = $("#hr - holiday_wrapper");
    //    // Do something here
    //};
    //setInterval(doSth, 1000);//1000 is miliseconds

     



</script>

