@model HRMS_Silicon.ViewModel.AttendenceViewModelDetails

@{
    ViewData["Title"] = "Index";
}
<style>
    .header-search {
        min-width: 15rem !important;
    }
</style>

<div class="Alert"></div>

<!-- Row -->
<div class="row">
    <div class="col-xl-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header  border-0">
                <h4 class="card-title">Search </h4>
            </div>
            <div class="card-body">
                <form action="Attendence/Index" method="get">
                    <div class="row">
                        <div class="col-md-12 col-xl-7">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">From:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="feather feather-calendar"></i>
                                                </div>
                                            </div><input class="form-control fc-datepicker" name="Date_fromForSearch" placeholder="Search By Leave From" type="datetime-local">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">To:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="feather feather-calendar"></i>
                                                </div>
                                            </div><input class="form-control fc-datepicker" name="Date_toForSearch" placeholder="Search By Leave To" type="datetime-local">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xl-3">
                            <div class="form-group">
                                <label class="form-label">Employee Name:</label>
                                <input type="search" class="form-control header-search" name="EmployeeNameForSearch" placeholder="Search By Name" aria-label="Search" tabindex="1">
                            </div>
                        </div>
                        <div class="col-md-12 col-xl-2">
                            <div class="form-group mt-5">
                                <button class="btn btn-primary btn-block">
                                    <i class="feather feather-search">Search</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- End Row-->
<!-- Row -->
<div class="row">
    <div class="col-xl-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header  border-0">
                <h4 class="card-title">Attendence Summary</h4>
            </div>
            <div class="page-rightheader ml-md-auto">
                <div class="align-items-end flex-wrap my-auto right-content breadcrumb-right">
                    <div class="btn-list">
                        <a asp-action="Create" class="btn btn-primary mr-3">Add Attendence</a>

                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table  table-vcenter text-nowrap table-bordered border-bottom" id="emp-attendance">
                        <thead>
                            <tr>
                                <th class="border-bottom-0 text-center">S.N.</th>
                                <th class="border-bottom-0">Employee Name</th>
                                <th class="border-bottom-0">Current Date</th>
                                <th class="border-bottom-0">Arrival Date Time</th>
                                <th class="border-bottom-0">Departure Date Time</th>
                                <th class="border-bottom-0">Total time</th>
                                <th class="border-bottom-0">Status</th>
                                <th class="border-bottom-0">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 1; }
                            @foreach (var item in Model.AttendencePaginatedVM)
                            {
                                if (item.Attendence_id != 0)
                                {
                                    <tr>
                                        <td class="text-center">@(i++)</td>
                                        <td> @Html.DisplayFor(modelItem => item.EmployeeViewModel.FullName)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Current_Date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Turn_In)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Turn_Out)
                                        </td>
                                        <td class="font-weight-semibold">
                                            @Html.DisplayFor(modelItem => item.TotalHours)
                                        </td>

                                        <td>

                                            @{ if (item.Is_Active == false)
                                                {

                                                    <label class="badge badge-light">Present</label> }
                                                else
                                                {
                                                    <label class="badge badge-danger">Absent</label> } }

                                        </td>
                                        <td class="text-left d-flex">
                                            <a class="action-btns1" asp-action="Edit" asp-route-id="@item.Attendence_id">
                                                <i class="feather feather-edit  text-primary"></i>
                                            </a>
                                            <a class="action-btns1" asp-action="Detail" asp-route-id="@item.Attendence_id">
                                                <i class="feather feather-info  text-primary"></i>
                                            </a>

                                            <a class="action-btns1 delete-btn" data-ajax="true" asp-action="Delete" asp-route-id="@item.Attendence_id" data-toggle="modal" data-target="#holidaymodal">
                                                <i class="feather feather-trash-2 text-danger"></i>
                                            </a>


                                            @{ if (item.Is_Active == false)
                                                {
                                                    <a class="badge badge-danger" href="/Attendence/ChangeAttendenceStatus/@item.Attendence_id">Absent</a> }
                                                else
                                                {
                                                    <a class="badge badge-light" href="/Attendence/ChangeAttendenceStatus/@item.Attendence_id">Present</a> } }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>


                <div class="row">

                    <div class="col-sm-12 col-md-7">

                        <div class="dataTables_paginate paging_simple_numbers" id="hr-holiday_paginate">

                            <ul class="pagination">
                                @if (Model.AttendencePaginatedVM.PageIndex > 1)
                                {
                                    <li class="paginate_button page-item previous" id="hr-holiday_previous">
                                        <a asp-action="Index"
                                           asp-route-pageNumber="@(Model.AttendencePaginatedVM.PageIndex - 1)"
                                           aria-controls="hr-holiday" data-dt-idx="0" tabindex="0" class="page-link">
                                            Previous
                                        </a>
                                    </li>
                                }
                                <li class="paginate_button page-item next " id="hr-holiday_next">
                                    <a asp-action="Index"
                                       asp-route-pageNumber="@(Model.AttendencePaginatedVM.PageIndex + 1)"
                                       aria-controls="hr-holiday" data-dt-idx="3" tabindex="0" class="page-link">
                                        Next
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->
<!-- Holiday Modal used for deletion -->
<div class="modal fade" id="holidaymodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete</h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h1>Delete</h1>
                    <p>Are you sure you want to delete ?</p>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary deletebtn delete-item">Delete</button>
                <button class="btn btn-outline-primary cancelbtn" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script src="~/js/site.js"></script>
<script src="~/lib/jquery/jquery.min.js"></script>
<script>
    $(".deletebtn").click(function () {
        debugger
        let id = this.id;
        $.ajax({
            type: "POST",
            url: "/Attendence/Delete",
            data: { id: id },

            success: function (response) {
                debugger
                var result = '';
                if (response.message == "Success") {
                    result = 'Success'
                }
                else {
                    result = 'failed'
                }
                var html = `<div class="alert alert-danger fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                               <span aria-hidden="true">&times;</span>
                                        </button>
                                        <i class="mdi mdi-block-helper"></i>
                                         <strong>`+ result + `</strong>
                                     </div>
                                     <br />`;
                $(".Alert").prepend(html);

                $('tr[data-id="' + response.id + '"]').remove();
                $('#holidaymodal').modal('toggle');
            }
        });
    });
</script>














